.listproduct {
  &__main {
    &__action {
      display: flex;
      @include for-size(mdC, down) {
        flex-direction: column;
      }
      .form-group {
        font-size: 1.4rem;
        label {
          margin: 0 12px 0 0;
          line-height: 34px;
        }
        select {
          height: 40px !important;
          font-size: 1.4rem;
        }
      }
      .form-group:first-child {
        margin-right: 50px;
        select {
          width: 200px;
        }
      }
      .form-group:last-child {
        select {
          width: 100px;
        }
      }
    }
    &__content {
      .product-item--2 {
        padding: 20px;
        &__img {
          text-align: right;
          img {
            width: 90%;
          }
        }
      }
      .fade {
        opacity: 1;
      }
      position: relative;
      padding-top: 8px;
      border-top: 1px solid $silver;
      &__link {
        a.active {
          color: $yellow;
          border-color: $yellow;
        }
        position: absolute;
        top: -46px;
        right: 0;
        border: none;
        li {
          a {
            font-size: 2rem;
            text-align: center;
            display: inline-block;
            color: $silver;
            border: 1px solid $silver;
            @include square-box(36px);
            margin-left: 12px;
          }
        }
      }
    }
  }
  &__pagination {
    margin-top: 40px;
    float: right;
    .page-link {
      padding: 8px 16px !important;
      color: $yellow;
    }
    .page-item.active .page-link {
      color: $white;
      border-color: $yellow;
      background-color: $yellow;
    }
  }
}
