mixin newsItem(img)
  .newsItem 
    .newsItem__img 
      img(src=img, alt="img new")
    h2.newsItem__title THẾ HỆ MÁY KHOAN CẮT CNC ĐẦU TIÊN ĐÃ ĐƯỢC TÁI SỬ DỤNG
    .newsItem__info.d-flex
      span.newsItem__info__time Thứ năm, ngày 23/10/2015 8:00 AM
      span.newsItem__info__auth 
        i.fas.fa-user-alt
        |Đăng bởi
        a(href="") Design Team
      span.newsItem__info__comment 
        i.fas.fa-comments 
        |2 bình luận
    p.newsItem__desc But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure...
      a(href="/detailNews.html") [Đọc tiếp]