extend ../base/base.pug
block content
  section.error-page.mt-30 
    .container 
      .row 
        .col-xl-7.col-lg-7.col-md-7.col-sm-12 
          .error-page__info.text-center 
            h1.text-yellow 404 ERROR
            p Chúng tôi không tìm thấy kết quả nào phù hợp với tìm kiếm của bạn 
              br 
              |Xin vui lòng trở về trang chủ
            a.btn.btn-dark.btn--bg-dark.error-page__btn(href="/") TRANG CHỦ
        .col-xl-5.col-lg-5.col-md-5.col-sm-12 
          .error-page__img 
            img(src="./assets/images/products/10.png", alt="image")