.header {
  background-color: #fff;
  @include for-size(sm, down) {
    .container {
      padding: 0 !important;
    }
  }
  &__top {
    background-color: #f3f3f3;
    &__content {
      @include for-size(sm, up) {
        @include flex-box(space-between, center, wrap);
      }
    }
    &__socials {
      display: none;
      @include for-size(sm, up) {
        display: block;
      }
      li {
        height: 6.6rem;
        width: 5.7rem;
        a {
          display: inline-block;
          width: 100%;
          line-height: 6.6rem;
          text-align: center;
          color: $black;
        }
      }
    }
    &__login {
      @include for-size(sm, down) {
        width: 100%;
      }
      a {
        text-align: center;
        width: 50%;
        color: $black;
        font-weight: bold;
        text-transform: uppercase;
        height: 6.6rem;
        line-height: 6.6rem;
        display: inline-block;
        border: 0.5px solid rgb(230, 230, 230);
        @include for-size(sm, up) {
          margin-left: -1.5px;
          padding: 0 16px;
          width: auto;
        }
      }
    }
  }
  &__mid {
    @include for-size(sm, down) {
      .row {
        max-width: 358px;
        margin: 0;
      }
    }
    &__img {
      padding: 22px 0;
      @include for-size(sm, down) {
        text-align: center;
      }
      img {
        width: auto;
      }
    }
    &__info {
      h2 {
        color: $yellow;
        font-size: 1.6rem;
      }
    }
    &__search {
      @include for-size(mdC, down) {
        width: 90%;
        margin: auto;
      }
      input {
        padding: 30px;
        font-size: 1.6rem;
        border-radius: 40px !important;
      }
      .icon-search {
        position: absolute;
        right: 10%;
        @include transform("", "", 45%);
        z-index: 1000;
        @include for-size(mdC, down) {
          right: 20%;
        }
      }
    }
  }
  &__bottom {
    background-color: $black;
    position: relative;
  }
  &__nav {
    @include for-size(lg, up) {
      display: block;
    }
    .menu {
      .menu__item {
        position: relative;
        &:hover {
          .menu-common {
            display: block;
          }
        }
        a {
          display: inline-block;
          padding: 20px;
          color: $white;
        }
      }
    }
  }
  &__cart {
    position: relative;
    a {
      display: inline-block;
      height: 100%;
      color: $white;
      padding: 20px;
      border-left: 0.5px solid $border-color;
      border-right: 0.5px solid $border-color;
    }
    span {
      position: absolute;
      @include square-box(20px);
      line-height: 20px;
      @include transform(60%, "", 18%, 0);
      background-color: $yellow;
      color: $white;
      border-radius: 50%;
      text-align: center;
    }
  }
}

.menu-common {
  display: none;
  position: absolute;
  background-color: $white;
  @include borderMe();
  z-index: 100;
  width: 232px;
  &__item {
    position: relative;
    &:hover {
      .menu-common--right {
        display: block !important;
      }
    }
  }
  &__link {
    width: 100%;
    display: block;
    color: $black !important;
    i {
      margin-right: 8px;
    }
  }
}
.menu-common--right {
  display: none !important;
  position: absolute;
  left: 100%;
  top: 0;
}

.menu-mobile {
  @include for-size(normal, up) {
    display: none !important;
  }
  input[type="checkbox"] {
    display: none !important;
  }
  label {
    color: $white;
    font-size: 3.2rem;
    line-height: 72px;
    padding: 0 24px;
    border-right: 0.5px solid rgba(255, 255, 255, 0.1);
    border-left: 0.5px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
  &__list {
    position: absolute;
    padding: 0 12px;
    top: 100%;
    background-color: $black;
    width: 100%;
    left: 0;
    z-index: 99;
    @include transition();
    transform: translateX(-100%);
    z-index: 99;
  }
  &__item {
    a {
      color: $white;
      display: block;
      padding: 12px;
    }
    &:hover {
      .menu-mobile__common {
        display: block;
      }
    }
  }
  input[type="checkbox"]:checked + .menu-mobile__list {
    transform: translateX(0);
  }
  &__common {
    display: none;
    .menu-common {
      background-color: #202020;
      box-shadow: none;
      border: none;
      &__link {
        color: $white !important;
      }
      &__item:hover {
        .menu-common--right {
          display: block !important;
          position: static;
        }
      }
    }
    .menu-common--right {
      padding-left: 12px;
      width: 100%;
    }
  }
}
